{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<h3 align="center">Editer un produit</h3>
	<form method="POST" action="">
		<div class="form-group">
			<label for="libelle">Libellé produit</label>
			<input class="form-control" id="libelle" name="libelle" value="{{produit.libelle}}">
		</div>
        <div class="form-group">
			<label for="prix">Prix produit</label>
			<input type="text" class="form-control" id="prix" name="prix" value="{{produit.prix}}">
		</div>

           <div class="form-group">
			<label for="description">Description produit</label>
			<textarea class="form-control" id="description" name="description">{{produit.description}}</textarea>
		</div>


		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>

{% endblock %}
